@page
@model ShoppingApplication.Areas.Articles.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            
            <partial name="~/Pages/Shared/EditorTemplates/Article.cshtml" model="@Model.Article" />

            <div class="form-group mt-2">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
                <a asp-page="./Index">Retour à la liste</a>
            </div>
        </form>
    </div>
</div><div>
</div>
